 /* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  color: #34675C;
  width: 100%;
  height: 100%;
  padding: 0px;
}

h1 {  
  
  color: white;
  font-family: "Helvetica";
  font-size: 150px;
}

.head_1 {
  position: fixed;
  left: 5%;    
  padding: 0px;
}

/* Style the button used to pause/play the video */
#submit {
  width: 150px;
  height: 100px;
  font-size: 18px;
  padding: 0px;
  border: none;
  background: #B7B8B6;
  color: #fff;
  cursor: pointer;
}

#submit:hover {
  background: #ddd;
  color: black;
} 