<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="static/video.css" type="text/css"/>
</head>


<body>

        <div class="overlay"></div>
        
        <video autoplay="autoplay" muted="muted" loop="loop" id="myVideo">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
        </video>
            
        <div class="content">
          <div class="head_1">
            <h1>Radio</h1>          
            <!--  <p>Lorem ipsum...</p> -->
            
            <!-- <button id="myBtn" onclick="myFunction()" type="submit" name="Encrypt" value="Play">PLAY</button>   -->             
            <div class="buttonHolder">
                <form method="post" action="/">   
                    <input type="submit" name="Encrypt" value="Play" id="submit">
                </form>     
            </div>            
          </div>          
        </div>

        
</body>           
</html>